.main {
    width: 100%;
    padding: 20px 10%;
    background: #DEE2E7;
    padding-top: 20px;
}

@media (max-width: 1000px) {
    .main {
        padding: 10px 5%;
    }
}

@media (max-width: 768px) {
    .main {
        padding: 0;
        
    }
}

