.content-main {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
    border: 1px solid var(--gray-300, #DEE2E7);
    border-radius: 6px;
    flex-wrap: wrap;    
}   
.images-page{
    width: 380px;
}

.images-page > img{
    width: 345px;   
    padding: 15px;
}

.images-page .images-container {
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 9px;
    flex-wrap: wrap;
}

.images-page .images-container .images {
    width: calc(100% / 6);
    /* height: 56px; */
    border: solid 1px #BDC1C8;
    border-radius: 4px;
    display: flex;

}

.images-page .images-container .images:hover {
    border: solid 1px blue;
}

.images-page .images-container .images img{
    width: 60px;
    height: 60px;
    display: block;
    object-fit: cover;
    cursor: pointer;
}

.content-main .info{
    width: 430px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content-main .info .price-background {
    background-color: #FFF0DF;
    display: flex;
    align-items: center;
}

.content-main .info .price {
    padding: 16px 48px 14px 16px;
}

.content-main .info .price span{
    color: red;
}

.bgLine { 
    width: 1px;
    height: 44px;
    border: solid 1px #BDC1C8;
}

.content-main .short-info ul li {
    display: flex;
    gap: 50px;
    padding: 16px 0; 
}

.content-main .short-info ul li .oneBox {
    width: 100px;
}

.content-main .short-info ul li .twoBox {
    width: 100%;
}

.info .ButtonLargeWhiteIcon.button span{
    color: #00B517;  
    font-size: 16px;
}

.info .disPlay {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info .disPlay .start-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 0;
}
.info .disPlay .start-container ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info .disPlay .start-container ul li {
    list-style-type: none;
}
.info .disPlay .start-container ul li svg{
    width: 15px;
    height: 15px;
    fill: #D4CDC5;
}
.info .disPlay .start-container ul li.active svg{
    fill: #FF9017;
}
.info .disPlay .start-container .start-number{
    color: #FF9017;
    padding-left: 7px;
    font-size: 16px;
}

.info .disPlay .message {
    display: flex;
    justify-content: flex-start;
}
.info .disPlay .message .subheading-1{
    white-space: nowrap;
}
.info .disPlay .message svg{
    margin-right: 9px;
}

.info .disPlay .info-dot{
    width: 6px;
    height: 6px;
    background-color: #DBDBDB;
    border-radius: 50%;
    margin: 0 7px;
}
.info .info-mobile-price{
    display: none;
}
.info .info-mobile-price .heading-6{
    color: #FA3434;
}

.info .info-mobile-button {
    display: none;
    gap: 10px;
}

.info .info-mobile-button .info-FavoriteIcon{
    border: 1px solid #DEE2E7;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.info .info-mobile-button .ButtonNormalBlue{
    width: 100%;
}

.line-info {
    width: 100%;
    border: 1px solid #BDC1C8;
}

@media (max-width: 868px) {
    .content-main {
        justify-content: center;
    }
    .Block-detail {
        display: none;
    }
    
}


@media (max-width: 400px) {
    .content-main .info{
        padding: 10px 0;
    }
    
    .content-main .info .price-background {
        display: none;
    }
    /* .ButtonLargeWhiteIcon {
        display: none;
    } */
    .info > div.disPlay {
        order: -1;
    }
    .content-main .short-info ul li {
        gap: 0px;
        /* padding: 16px 0; */
    }
    .info .info-mobile-price{
        display: block;
    }
    .info .info-mobile-button {
        display: flex;
    }
}
