.sectionMain-container {
    width: 100%;
    /* height: 400px; */
    display: flex;
    justify-content: space-between;
    /* padding: 20px 18%; */
    border: 1px solid rgba(0, 0, 0, 0.279);
    border-radius: 8px;
    background: #FFFFFF;
}

@media (max-width: 950px) {
    .sectionMain-container{
        justify-content: center;
        flex-direction: column;
        border: none;
    }
}

