.sectionMain-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 20px 18%; */
    border: 1px solid rgba(0, 0, 0, 0.279);
    border-radius: 8px;
    background: #FFFFFF;
}

@media (min-width: 1200px ) {
    .sectionMain-container {
        height: 400px;
    }
}


@media (max-width: 950px) {
    .sectionMain-container{
        justify-content: center;
        flex-direction: column;
        border: none;
    }
}

