.home-first-section {
    display: none;
}

.home-category-container ul {
    display: grid;
    width: 100%;
    overflow-x: scroll;
    gap: 10px;
    padding: 0 20px;;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
}

.home-category-container ul li {
    display: flex;
    align-items: center;
    height: 35px;
    grid-row: 1;
    background-color: #EFF2F4;
    border-radius: 6px;
    white-space: nowrap;
    list-style-type: none;
}

.home-category-container ul li span {
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #0D6EFD;
    padding: 8px 8px;
}

.home-category-container ul li span::first-letter {
    text-transform: capitalize;
}

.home-category-container ul::-webkit-scrollbar {
    width: 0;
}

@media (max-width: 1200px) {
    .home-first-section {
        display:block;
    }
}

