
.flex-item{
    /* display: flex;   */
    width: 100%;
}
    
.flex-item .Api {
    width: calc(100% / 5);      
    height: 235px;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid rgba(0, 0, 0, 0.279);
}

.flex-item .Api  img {
    display: flex;
    width: 140px;
    height: 140px;
    padding: 24.267px 4.978px 24.267px 5.6px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.flex-item .Api  .apiName {
    color: var(--base-color-dark, #1C1C1C);
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: -0.2px;
}

.flex-item .Api .apiName::first-letter{
    text-transform: capitalize;
}

.flex-item .Api  .price {
    display: flex;
    justify-content: center;
    border-radius: 29px;
    background: #FFE3E3;
}

.flex-item .Api  .price span{
    display: inline-flex;
    height: 28px;
    padding: 3px 13px 4px 13px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color:red;
}

/* @media (max-width: 1200px) {
    .flex-item{
        width: 95%;
    }
} */

.slick-prev {
    left: 0px !important;
    z-index: 1;
}
.slick-next {
    right: 8px !important;
    z-index: 1;
}
.slick-next:before,
.slick-prev:before {
content: "" !important;
}
.next-slick-arrow,
.prev-slick-arrow {
color: #000000;
font-size: 30px;
}