.details-main {
    width: 100%;
    padding: 20px 10%;
    background: #F7FAFC;
    padding-top: 20px;
}

.details-main .details-row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
}

@media (max-width: 1200px) {
    .details-main {
        width: 100%;
        padding: 15px 8%;
    }
}

@media (max-width: 1000px) {
    .details-main {
        width: 100%;
        padding: 10px 5%;
    }
}

@media (max-width: 950px) {
    .details-main {
        width: 100%;
        padding: 0;
    }
}

