.Block-detail {
    background-color: #fff;
    /* width: 880px; */
    /* height: 618px; */
    border: 1px solid var(--gray-300, #DEE2E7);
}

.detail-two-box{
    padding-left: 20px;
    display: flex;
}

.detail-two-box .detail-item-left{
    width: 204px;
    height: 36px;
    background: var(--gray-200, #EFF2F4);
    padding: 10px 10px;
    text-transform: capitalize;
    border: 1px solid #E0E7E9;
}

.detail-two-box .detail-item-right{
    width: 204px;
    height: 36px;
    border: solid 2px var(--gray-200, #EFF2F4);
    padding: 6px 0px 6px 10px;
}

.detail-description {
    width: 100%;
    padding: 20px;
}

.detail-description span{
    overflow: hidden;
}

.m-readMore.more{
    height: fit-content;
}

.detail-feature{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.detail-feature-col {
    display: flex;
    gap: 7px;
}

