.Block-detail {
    background-color: #fff;
    max-width: 880px;
    /* height: 618px; */
    border: 1px solid var(--gray-300, #DEE2E7);
}
.detail-two-box{
    padding: 20px;
    display: flex;
}
.detail-two-box .detail-item-left{
    width: 204px;
    height: 36px;
    background: var(--gray-200, #EFF2F4);
    padding: 10px 10px;
    text-transform: capitalize;
}
.detail-two-box .detail-item-right{
    width: 204px;
    height: 36px;
    border: solid 2px var(--gray-200, #EFF2F4);
    padding: 6px 0px 6px 10px;
}

.detail-description {
    width: 100%;
    padding: 20px;
}

.detail-feature{
    padding: 20px;
    display: flex;
    gap: 7px;
}