.details-navigation{
    width: 100%;
    border-bottom: 1px solid var(--gray-300, #DEE2E7);
}

.details-navigation ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 16px 16px 16px 16px;
    list-style-type: none;
    gap: 35px;
}
.details-navigation li .heading-5 {
    color: var(--gray-500, #8B96A5);
    line-height: normal;
    text-transform: capitalize;
}
.details-navigation li .heading-5:hover {
    color:red
}
.detail-nav-link li .detail-nav-link.active{
    background-color: blue;
    border: solid 3px red;
    color: yellow;
}