.details-navigation{
    width: 100%;
    border-bottom: 1px solid var(--gray-300, #DEE2E7);
}

.details-navigation ul{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left:16px;
    list-style-type: none;
    gap: 35px;
}

.details-navigation li .heading-5 {
    color: var(--gray-500, #8B96A5);
    line-height: normal;
    text-transform: capitalize;
}

.detail-nav-link .heading-5{
    padding: 20px 0;

}

.detail-nav-link.active .heading-5{
    border-bottom: 2px solid #0D6EFD;
    color: #0D6EFD;
}

.detail-nav-link:not(.active) .heading-5:hover {
border-bottom: 2px solid #0D6EFD;
color: #0D6EFD;
opacity: 0.5;
}