*{
    text-decoration: none;
}

.navbar-container {
    /* width: 228px;    */
    width: 16%;
    height: 41px;
}

.navbar-container .navbar-ul{
    display: flex;
    justify-content: flex-end;
}

.navbar-ul .navbar-li {
    list-style-type: none;
}

.item-container{
    display: flex;
    width: 50px;
    height: 44px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.item-container img{
    width: 20px;
    /* height: 20px; */
    display: block;

}

.item-container span{
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    font-size: 12px;
    text-align: center;
    margin-top: 7px;
    color: rgba(139, 150, 165, 1);
}

.navbar-li .item-container span::first-letter {
    text-transform: capitalize;
}

.nav-link.active span {
    color: #0067FF;
}

.nav-link:not(.active) span:hover {
    color: #0067FF;
}

.navbar-li.dot{
    position: relative;
}

.cart-length{
    position: absolute;
    left: 35px;
    background-color: #0067FF;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
    text-align: center;
}

.cart-length .heading-5{
    color: #FFF;
    font-size: 12px;
}   

@media only screen and (max-width: 1024px) {
    .navbar-container {
        width: 30%;
    }
}

@media only screen and (max-width: 688px) {
    .navbar-container{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    .navbar-container .display-none{
        display: none;
    }
    .profile-one{
        padding-right: 20px;
    }
    .navbar-container div span{
        display: none;
    }
    .image-container{
        justify-content: flex-end;
    }

    .navbar-container :nth-child(1){
        order: 2;
    }
    .item-container{
        height: auto;
    }
    .cart-length {
        left: 50px;
    }
}

@media only screen and (max-width: 430px) {
    .navbar-container{
        width: 45%;
    }
}