.section-country{
    width: 100%;
    margin-top: 30px ;
}

.country-list-container {
    width: 100%;
    margin-top: 24px;
    padding: 5px;
}

.country-list-container .country-list-ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px 0;
}
.country-list-container .country-list-ul.none{
    display: none;
}
.country-list-container .country-list-ul.block{
    display: flex;
}


@media (max-width:500px) {
    .country-list-container .country-list-ul.none{
        display: flex;
    }
    .country-list-container .country-list-ul.block{
        display: none;
    }
}

