footer {
    width: 100%;
}

.footer-container{
    padding: 40px 10%;
    width: 100%;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: flex-start;
}

.describe{
    width: 276px;
    padding: 15px 0;
}

.box-container{
    display: flex;
    flex-direction: column;
}

.box-container .box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.box-container ul {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.box-container ul li{
    list-style-type: none;
}
.box-container ul li::after{
    background-color: aquamarine;
}

.box-container img{
    /* transform: rotate(180deg); */
    display: none;
}




/* @media (max-width: 1000px) {
    footer {
        padding: 10px 1%;
    }
    .footer-container{
        gap: 20px;
        justify-content: center;
    }
} */

@media ( max-width: 1200px ) {
    .footer-container{
        width: 100%;
        padding: 15px 8%;
        gap: 30px;
        flex-wrap: wrap;
    }
}
@media ( max-width: 1000px ) {
    .footer-container{
        width: 100%;
        padding: 10px 5%;
        gap: 20px;
    }
}
@media ( max-width: 950px ) {
    .footer-container{
        width: 100%;
        padding: 10px;
        gap: 15px;
    }

    .box-container ul li{
        list-style-type: none;
        display: none;
    }

    .box-container img {
        display: block;
    }
    
    .box-container.action img{
        transform: rotate(180deg);
    }
    
    .box-container.action li{
        display: block;
    }
}
@media ( max-width: 500px ) {
    .footer-container{
        width: 100%;
        padding: 10px;
        gap: 15px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .box-container ul li{
        list-style-type: none;
        display: none;
    }

    .box-container img {
        display: block;
    }
    
    .box-container.action img{
        transform: rotate(180deg);
    }
    
    .box-container.action li{
        display: block;
    }
}
