.productsItem-li {
    width: calc(100% / 6 - 22px);

    list-style-type: none;
    display: flex;
    flex-direction: column;

}
.productsItem-li .tile {
    margin: 14px 0 7px 0;
}
.productsItem-li .tile  .subheading-1{
    text-transform: capitalize;
}

.productsItem-li .background-img{
    width: 172px;
    height: 172px;
    border-radius: 6px;
    background: #EEE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsItem-li .background-img img{
    /* width: 100%; */
}


@media (max-width: 1100px) {
    .productsItem-li {
        width: calc(100% / 5);

    }
}

@media (max-width: 900px) {
    .productsItem-li {
        width: calc(100% / 4 );

    }
}
@media (max-width: 700px) {
    .productsItem-li {
        width: calc(100% / 3);
        align-items: center;

    }
}


@media (max-width: 1000px) {
    .productsItem-li {
        grid-row: 1;
        width: 220px;
        height: unset;
    }

}