.RelatedProducts{
    width: 100%;
    margin: 20px 0;
    border-radius: 6px;
    border: 1px solid var(--gray-300, #DEE2E7);
    background: #FFF;
    
}
.RelatedProducts .heading-4{ 
    padding: 20px 0 0 22px;
}

.RelatedProducts .products-container {
    width: 100%;
    padding: 22px;    
}

.RelatedProducts .products-container .products-item-ul {
    width: 100%;
    padding-bottom: 15px;
    gap: 20px;
    display: grid!important;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

}



@media (max-width: 1000px) {
    .RelatedProducts .products-container .products-item-ul {
        /* display: grid!important;
        overflow-x: scroll;
        scroll-snap-type: x mandatory; */
    }
} 